<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="ReactPHP Test Suite">
            <directory>./vendor/react/*/tests/</directory>
            <!-- temporarily skip broken und unneeded tests, see https://github.com/reactphp/event-loop/pull/232 -->
            <exclude>./vendor/react/event-loop/tests/BinTest.php</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./vendor/react/*/src/</directory>
        </whitelist>
    </filter>
</phpunit>
