<?xml version="1.0" encoding="UTF-8"?>

<!-- PHPUnit configuration file with new format for PHPUnit 9.5+ -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheResult="false"
         colors="true"
         convertDeprecationsToExceptions="true">
    <testsuites>
        <testsuite name="ReactPHP Test Suite">
            <directory>./vendor/react/*/tests/</directory>
            <!-- temporarily skip broken und unneeded tests, see https://github.com/reactphp/event-loop/pull/232 -->
            <exclude>./vendor/react/event-loop/tests/BinTest.php</exclude>
            <exclude>./vendor/react/event-loop/tests/ExtLibeventLoopTest.php</exclude>
            <!-- temporarily skip broken und unneeded tests, see https://github.com/reactphp/http/pull/440 -->
            <exclude>./vendor/react/http/tests/HttpServerTest.php</exclude>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory>./vendor/react/*/src/</directory>
        </include>
    </coverage>
</phpunit>
