<?xml version="1.0" encoding="UTF-8"?>

<!-- PHPUnit configuration file with new format for PHPUnit 9.6+ -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheResult="false"
         colors="true"
         convertDeprecationsToExceptions="true">
    <testsuites>
        <testsuite name="ReactPHP Test Suite">
            <!-- explicitly run EventLoop tests first to avoid resetting default loop -->
            <directory>./vendor/react/event-loop/tests/</directory>
            <directory>./vendor/react/*/tests/</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory>./vendor/react/*/src/</directory>
        </include>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1" />
        <!-- Evaluate assertions, requires running with "php -d zend.assertions=1 vendor/bin/phpunit" -->
        <!-- <ini name="zend.assertions" value="1" /> -->
        <ini name="assert.active" value="1" />
        <ini name="assert.exception" value="1" />
        <ini name="assert.bail" value="0" />
    </php>
</phpunit>
